
@{
    ViewData["Title"] = "BlogExportToExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogExportToExcel</h1>
@*<button class="btn btn-primary" onclick="DownloadExcelBlogList">Export to Excel</button> *@
<a href="/Admin/Blog/ExportStaticExcelBloglist" class="btn btn-primary">Export to Excel</a>
@*<script>
    function DownloadExcelBlogList(){
        wind.open("/Admin/Blog/ExportStaticExcelBloglist");
    }
</script>*@

