    
<div class="tech-btm">
    <p>Technology, developing and other blogs </p>
    <form action="/Blog/Index/" method="post">
        <input type="email" placeholder="email" required="" name="Mail">
        <input type="submit" value="subscribe">
    </form>
     
</div>