 <div class="row">
            <div class="col-lg-6">
                <div class="widget navy-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">Dashboard</h1>

                        <h3 class="font-bold no-margins">
                            ASP .Net Core 5.0   
                        </h3>
                        <h4>In this panel can be used for Admin works on the Area compliation. You can use sidebar menu for 
                            short crosses.
                        </h4>
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget lazur-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">Last Posts</h1>

                        <h3 class="font-bold no-margins">
                            @ViewBag.v1
                        </h3>
                        <br/>
                        <small>All Blogs.</small>
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart2"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget yellw-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">$ 500</h1>

                        <h3 class="font-bold no-margins">
                            Blog site incoming
                        </h3>
                        <small>Reklams,New products, Contracts, Promotions</small>
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart3"></div>
                    </div>
                </div>
            </div>
        </div>