
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Ajax using</h1>
<br/>
<button class="btn btn-primary" id="btngetlist" type="button">Get List</button>
<button class="btn btn-success" id="btngetid" type="button">Get Writer</button>
<button class="btn btn-info" id="btnadd" type="button">Add Writer</button>
<button class="btn btn-danger" id="btnremove" type="button">Delete Writer</button>
<button class="btn btn-warning" id="btnupdate" type="button">Update Writer</button>
<br/>
<br/>
<div id="writerlist">
    place of writers
</div>
<br/>
<div id="getwriter">
    place of one writer
</div>
<br/>
<div id="getwriter">
    <input type="text" id="writerid" placeholder="Type the ID number of the writer which you want" class="form-control"/>
</div>
    <br/>
    <br/>
    <br/>
<div>
    <input type="text" id="txtwriterid" class="form-control" placeholder="Writer ID"/>
    <br/>
    <input type="text" id="txtwritername" class="form-control" placeholder="Writer Name"/>
    <br/>
</div>
<br/>
<div>
    <h1>Writer ID for Removeing</h1>
    <input type="text" id="dltwriterid" class="form-control" placeholder="Writer ID"/>
</div>
<br />
 <input type="text" id="txtid" class="form-control" placeholder="Writer ID"/>
 <br/>
 <input type="text" id="txtname" class="form-control" placeholder="Writer Name"/>

@section scripts {
    <script>
        $("#btngetlist").click(function(){
            $.ajax({
                contentType:"application/json",
                dataType: "json",
                type: "GET",
                url: "/Admin/Writer/WriterList/",
                success:function(func){
                       console.log(func)
                       let w = jQuery.parseJSON(func);
                       console.log(w);
                       let tableHtml = "<table class='table table-bordered'> <tr><th>Writer's Id</th><th>Writer's Name</th></tr>"
                       $.each(w,(index,value)=>{
                           tableHtml+=`<tr><td>${value.Id}</td><td>${value.Name}</td></tr>`
                       });
                       tableHtml+="</table>";
                       $("#writerlist").html(tableHtml)

                }
            })
        })

        $("#btngetid").click(function(){
            let id = $("#writerid").val();
            $.ajax({
                contentType:"application/json",
                dataType:"json",
                type:"GET",
                url:"/Admin/Writer/GetWriterById/",
                data:{writerid: id},
                success: function(func){
                    let wl = jQuery.parseJSON(func)
                    console.log(wl)

                    let getValue = `<table class='table table-bordered'> <tr><th>Writer's Id</th><th>Writer's Name</th></tr>
                    <tr><td>${wl.Id}</td><td>${wl.Name}</td></tr></table>`;

                    $("#getwriter").html(getValue);
                }

            })  
        })

        $("#btnadd").click(function(){
            let writer = {
                Id : $("#txtwriterid").val(),
                Name : $("#txtwritername").val()
            }
            $.ajax({
                type:"post",
                url: "/Admin/Writer/AddWriter/",
                data: writer,
                success: function(func){
                    let result = jQuery.parseJSON(func);
                    alert("New Writer added successfully!!!")
                }

            })
        })

        $("#btnremove").click(function(){
            let id = $("#dltwriterid").val();
            $.ajax({
                dataType:"json",
                type:"post",
                url:"/Admin/Writer/DeleteWriter/" + id,
                success:function(func){
                    alert("Delete proccess completed ! ")
                }
            })
        })

        $("#btnupdate").click(function(){
            let writer = {
                Id: $("#txtid").val(),
                Name: $("#txtname").val()
            };

            $.ajax({
                type:"post",
                data: writer,
                url:"/Admin/Writer/UpdateWriter/",
                success:function(func){
                    alert("Uptaded successfully!")
                }
            })
        })
    </script>
}